<%- errorsFor(loan, 'Loan') %>
<fieldset>
<legend>Kreditdetails</legend>
<div class="control-group">
   <%- form.label("value", false, {class: "control-label mandatory"}) %>
   <div class="controls">
      <div class="input-append">
       <%- form.input("value") %>
        <span class="add-on">€</span>
      </div>
       <%- inputDesc("value") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("rate_of_interest", false, {class: "control-label mandatory"}) %>
   <div class="controls">
      <div class="input-append">
       <%- form.input("rate_of_interest") %>
        <span class="add-on">%</span>
      </div>
   </div>
</div>
<div class="control-group">
   <%- form.label("interest_yearly_to", false, {class: "control-label"}) %>
   <div class="controls">
     <%- form.textarea("interest_yearly_to") %>
     <%- inputDesc("interest_yearly_to") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("minimum_term", false, {class: "control-label mandatory"}) %>
   <div class="controls">
       <%- form.input("minimum_term") %>
       <%- inputDesc("timespans") %>
   </div>
</div>
<p>Verträge haben entweder eine Kündigungsfrist oder sind bis zu einem festgelegten Datum gewährt. Bitte nicht beide Felder ausfüllen!</p>
<div class="control-group">
   <%- form.label("cancelation_period", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("cancelation_period") %>
       <%- inputDesc("timespans") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("granted_until", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("granted_until") %>
       <%- inputDesc("dates") %>
   </div>
</div>
</fieldset>
<fieldset>
<legend>Kreditgeber_in</legend>
<div class="control-group">
   <%- form.label("loaner_name", false, {class: "control-label mandatory"}) %>
   <div class="controls">
       <%- form.input("loaner_name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("loaner_address", false, {class: "control-label mandatory"}) %>
   <div class="controls">
       <%- form.textarea("loaner_address", {rows: 3}) %>
   </div>
</div>
<div class="control-group">
   <%- form.label("loaner_email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("loaner_email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("loaner_phone", false, {class: "control-label mandatory"}) %>
   <div class="controls">
       <%- form.input("loaner_phone") %>
   </div>
</div>
</fieldset>
<fieldset>
<legend>Sonstiges</legend>
<div class="control-group">
   <%- form.label("notes", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.textarea("notes", {rows: 3}) %>
   </div>
</div>
</fieldset>
