<%- errorMessagesFor(loan) %>
<div class="control-group">
   <%- form.label("nr", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("nr") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("value", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("value") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("cancelation_period", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("cancelation_period") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("minimum_term", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("minimum_term") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("start_date", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("start_date") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("rate_of_interest", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("rate_of_interest") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("loaner_name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("loaner_name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("loaner_address", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("loaner_address") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("contract_state", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("contract_state") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("loan_state", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("loan_state") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("date_contract_sent_to_loaner", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("date_contract_sent_to_loaner") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("date_contract_signature_received", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("date_contract_signature_received") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("date_loan_loaned", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("date_loan_loaned") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("date_loan_repaid", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("date_loan_repaid") %>
   </div>
</div>
