<%- errorsFor(loan, 'Loan') %>
<div class="control-group">
   <%- form.label("value", false, {class: "control-label"}) %>
   <div class="controls">
      <div class="input-append">
       <%- form.input("value") %>
        <span class="add-on">€</span>
      </div>
       <%- inputDesc("value") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("cancelation_period", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("cancelation_period") %>
       <small><%- t('models.Loan.descriptions.timespans') %></small>
   </div>
</div>
<div class="control-group">
   <%- form.label("minimum_term", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("minimum_term") %>
       <small><%- t('models.Loan.descriptions.timespans') %></small>
   </div>
</div>
<div class="control-group">
   <%- form.label("start_date", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("start_date") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("rate_of_interest", false, {class: "control-label"}) %>
   <div class="controls">
      <div class="input-append">
       <%- form.input("rate_of_interest") %>
        <span class="add-on">%</span>
      </div>
   </div>
</div>
<div class="control-group">
   <%- form.label("loaner_name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("loaner_name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("loaner_address", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.textarea("loaner_address", {rows: 3}) %>
   </div>
</div>
