<%if (_loans.length > 0) { %>
<table class="table table-striped">
    <thead>
        <tr>
            <th><%= t('loans.id') %></th>
            <th><%= t('loans.value') %></th>
        </tr>
    </thead>
    <tbody>
        <% _loans.forEach(function (loan) { %>
        <tr>
            <td><strong><%- link_to('#' + loan.id, pathTo.loan(loan)) %></strong></td>
            <td><%- t(['loans.in_currency', loan.attributes.value, '€']) %></td>
        </tr>
        <% }); %>
        <tr><td class="sum"><%= t('loans.sum') %></td><td><%- t(['loans.in_currency', _loans.reduce(function(sum, loan) { return sum += loan.attributes.value; }, 0), '€']) %></td>
        </tr>
    </tbody>
</table>
<% } else { %>
<p class="alert alert-block alert-info">
    <strong><%= t('loans.no_loans') %></strong>
</p>
<% } %>

