
<% var form = formFor(loan, {action: pathTo.loan_state(loan), method: 'PUT', id: "loan-form", class: 'form-horizontal'}) %>
<%- form.begin() %>

<% var state; for (var i = 0; i < steps.length; ++i) {
  state = steps[i];%>
<%- include _state_checkbox %>
<% } %>

    <%if (steps.filter(function (s) { return s.isNextStep; }).length > 0) {%>
      <%- form.submit('<i class="icon-ok icon-white"></i> ' + t('loans.update'), {class: 'btn btn-primary'}) %> <%= t('loans.or')%>
    <%} else {%>
      Nichts mehr zu tun.
    <% } %>
    <%- linkTo(t('loans.back_to_index'), pathTo.loans()) %>
</div>

<%- form.end() %>
