<div class="row">
    <div class="span12">
        <p><%- link_to('<i class="icon-plus icon-white"></i> ' + t('loans.new'), pathTo.new_loan(), {class: 'btn btn-primary'}) %></>
    </div>
</div>

<div class="row">
    <div class="span12">
<h2><%= t('loans.open') %></h2>
<% var _loans = loans.filter(function (loan) {return loan.attributes.loan_state === null}); %>
<%- include _table %>
<h2><%= t('loans.current') %></h2>
<% _loans = loans.filter(function (loan) {return loan.attributes.loan_state === 'loaned'}); %>
<%- include _table %>
    </div>
</div>
