<%- include _breadcrumbs %>
<div class="page-header">
    <h1><%= t('loans.new') %></h1>
</div>

<% var form = formFor(loan, {action: pathTo.loans(), method: 'POST', id: "loan-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> ' + t('loans.create'), {class: 'btn btn-primary'}) %> or
    <%- linkTo(t('cancel'), pathTo.loans(), {class: 'btn'}) %>
</div>
<%- form.end() %>
