<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheetLinkTag('bootstrap', 'application', 'bootstrap-responsive') %>
        <%- javascriptIncludeTag('//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', 'bootstrap', 'rails', 'application') %>
        <%- csrfMetaTag() %>
        <meta charset="utf8">
        <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Direktkredite</a>
                <div class="pull-right navbar-text">
                   <%= t(['logged_in_as', user.id]) %>
                </div>
                </div>
            </div>
        </div>

        <div class="container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>

            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>

            <%- include _breadcrumbs %>
            <div class="page-header">
                <h1><%= title %></h1>
            </div>

            <%- body %>

            <hr />
            <footer>
                <p>&copy; Adrian Lang 2013</p>
            </footer>
        </div>
    </body>
</html>
<%- contentFor('javascripts') %>
